header {
	background: url('../img/first-bg.jpg') no-repeat center top;
	background-size: cover;
	height: 100vh;
}

.sub-section {
	background-color: rgba(0, 0, 0, 0.5);
}

.black {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.sub-section .menu a {
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.logo {
	width: 100%;
	height: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.logo a {
	font-family: 'Dancing Script', cursive;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	font-size: 40px;
	text-decoration: none;
	color: #fff;
}

.menu {
	height: 67px;
}

.menu ul {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
}

.menu li {
	display: flex;
	align-items: center;
	height: 100%;
}

.menu a {
	display: flex;
	height: 100%;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
}

a::before, a::after {
	content: '';
	display: block;
}

a:hover::before, a:hover::after {
	border: 1px solid #ff0036;
}

.main-section {
	height: calc(100vh - 67px);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.mid-header {
	display: flex;
	justify-content: center;
}

.mid-header h1 {
	font-size: 50px;
}

.mid-header span {
	font-family: 'Dancing Script', cursive;
	font-size: 300%;
	color: #ff0036;
}

.main-section .main-text {
	font-style: italic;
	margin: 50px;
}

.btn-wrapper {
	text-transform: uppercase;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-wrapper .btn {
	width: 100%;
	border-radius: 4px;
	font-size: 30px;
	color: #fff;
	background: rgba(0, 0, 0, 1);
}

.btn-wrapper .btn-highlight {
	background-color: #ff0036;
}

.btn:hover {
	background-color: #ff0036;
}

.second {
	height: 100vh;
	color: #505050;
}

.about {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about h2 {
	margin: 30px;
	font-size: 50px;
}

.about span {
	color: #ff0036;
}

.about-desc {
	margin-bottom: 50px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-desc span {
	color: #ff0036;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-block {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	background-color: #f7f7f7;
	width: 100%;
	height: 50px;
	margin: 0;
	border: 1px solid #e7e7e7;
}

.info-wrapper {
	margin: 10px 0;
}

.plus-minus-box {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 49px;
	border-right: 1px solid #e7e7e7;
}

.plus-minus-circle {
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid #ff0036;
}

.plus-minus-hor {
	position: absolute;
	width: 11px;
	border-top: 2px solid #ff0036;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.plus-minus-ver {
	position: absolute;
	width: 11px;
	border-top: 2px solid #ff0036;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotateZ(90deg);
}

.plus-minus-ver-hidden .plus-minus-ver {
	border: 0;
}

.info-block p {
	font-size: 20px;
	margin: 0 10px;
}



.sub-info-block {
	position: relative;
	top: -1px;
	overflow: hidden;
	height: 0;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.sub-info-block-showed .sub-info-block {
	height: auto;
}

.sub-info-block p {
	padding: 20px;
}

.hexagon {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

.image-three {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 25px;
}

.image-two {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 25px;
}

.image-one {
	z-index: 3;

}
